@font-face {
    font-family: Qualy;
    src: url(./assets/Fonts/Qualy.ttf);
}

@font-face {
    font-family: Modern;
    src: url(./assets/Fonts/modern.ttf);
}
@font-face {
    font-family: Babel;
    src: url(./assets/Fonts/BabelSans.ttf);
}

html{
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  background: #1f1135;
}

body{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2{
  font-family: Modern;
  font-size: 2rem;
  
  background: linear-gradient(180deg, #7EE70F,#1FA819);
  -webkit-background-clip: text;
  background-clip: inset 0 0 6px rgba(0, 0, 0, 0.1);
  color: transparent;
}
a{
  font-family: Modern;
  font-size: 2rem;
  
  background: linear-gradient(180deg, #7EE70F,#1FA819);
  -webkit-background-clip: text;
  background-clip: inset 0 0 6px rgba(0, 0, 0, 0.1);
  color: transparent;
  text-decoration: underline green;
}
main{
  flex: 1px;
  padding: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
  z-index: 100;
  background-color: #1f1135b3;
  -webkit-box-shadow: 5px 5px 10px 5px #0d0214; 
  box-shadow: 5px 5px 20px 0px #6947BA;
}

.slider {
  height: 50px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(70px * 40);
}

.slider .slide {
  width: 50px;
  height: 50px;
  padding: 0 10px;
}

.slider .slide img {
  width: 100%;
  height: 100%;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-70px * 20));
    transform: translateX(calc(-70px * 20));
  }
}

.nav{
  display: flex;
  border-radius: 10px;
  height: 5rem;
  width: 100%;
  background-color: #1f1135b3;
  position: relative;
  -webkit-box-shadow: 5px 5px 10px 5px #0d0214; 
  box-shadow: 5px 5px 20px 0px #6947BA; 
}

.navbutton{
  display: flex;
  border-radius: 1rem;
  width: 3rem;
  height: 3rem;
  margin: auto;
}

.linkedin{
  position:absolute;
  top: 1rem;
  right: 1rem;
}
.github{
  position:absolute;
  top: 1rem;
  right: 5rem;
}
.twitter{
  position:absolute;
  top: 1rem;
  right: 9rem;
}
.blog{
  position:absolute;
  top: 1rem;
  right: 13rem;
}

.Container{
  display: flex;
  width: 100%;
  height: 20rem;

  position: relative;
  top: 0rem;
  left: 0rem;
} 
.CTL{

  width: 18rem;
  position: relative;
  top: 0rem;
  left: 2rem;

}
.CIR{
  position: relative;
  top: 5rem;
  left: 3rem;

  width: 10rem;
  height: 10rem;
}
.CTR{
  width: 18rem;
  position: relative;
  top: 0rem;
  left: 5rem;
}

.CIL{
  position: relative;
  top: 5rem;
  left: 2rem;

  width: 10rem;
  height: 10rem;
}

@media only screen and (min-width: 400px) {
  
  .CTL{
    left: 4rem;
  }
  .CIR{
    left: 5rem;
  }
  .CTR{
    left: 8rem;
  }
  .CIL{
    left: 4rem;
  }

}

@media only screen and (min-width: 800px) {
  h2{
    font-size: 4rem;
  }
  a{
    font-size: 4rem;
  }

  .nav{
    height: 6rem;
  }
  .navbutton{
    top: 0.5rem;
    width: 5rem;
    height: 5rem;
  }
  .linkedin{
    right: 2rem;
  }
  .github{
    right: 9rem;
  }
  .twitter{
    right: 16rem;
  }
  .blog{
    right: 23rem;
  }

  .Container{
    height: 40rem;
  }
  .CTL{
    width: 50%;
    height:100%
  }
  .CIR{
    width: 30rem;
    height: 30rem;
  }
  .CTR{
    width: 50%;
    height: 100%;
  }

  .CIL{
    width: 30rem;
    height: 30rem;
  }

 .slider {
    height: 100px;
    width: 100%;
  }

  .slider .slide-track {
    width: calc(140px * 40);
  }

  .slider .slide {
    width: 120px;
    height: 100px;
    padding: 0 20px;
  }

  @keyframes scroll {
    100% {
      -webkit-transform: translateX(calc(-140px * 20));
      transform: translateX(calc(-140px * 20));
    }

  }
}
@media only screen and (min-width: 1800px){
  h2{
    font-size: 8rem;
  }
  a{
    font-size: 8rem;
  }
  .nav{
    height: 8rem;
  }
  .navbutton{
    width: 7rem;
    height: 7rem;
  }
  .linkedin{
    right: 5rem;
  }
  .github{
    right: 15rem;
  }
  .twitter{
    right: 25rem;
  }
  .blog{
    right: 35rem;
  }
  .Container{
    height: 60rem;
  } 

  .CTL{
    left: 10rem;
  }
  .CIR{
    left: 30rem;
    width: 50rem;
    height: 50rem;
  }
  .CTR{
    left: 30rem;
  }
  .CIL{
    left: 10rem;
    width: 50rem;
    height: 50rem;
  }
} 

@media only screen and (min-width: 2300px) {

  .CTL{
    left: 40rem;
  }
  .CIR{
    left: 50rem;
  }
  .CTR{
    left: 50rem;
  }
  .CIL{
  left: 40rem;
  }
}
